<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout-basic :: page">
<head>
    <title th:text="#{title.home}" th:fragment="title">main page</title>
</head>
<body>
<div th:fragment="content" class="row">
    <div id="info-msg-block">
        <div id="add-info" style="display: none;">
            <h3  class="bg-primary " th:inline="text">
                <span class="contact-name"></span>
                [[#{addContact.added}]]
            </h3>
        </div>
        <div id="delete-info"  style="display: none;">
            <h3  class="bg-primary " th:inline="text">
                <span class="contact-name"></span>
                [[#{deleteContact.deleted}]]
            </h3>
        </div>
    </div>

    <!--/*<h4 th:if="${deletedContact}" th:text="#{deleteContact.deleted(${deletedContact.firstName}, ${deletedContact.LastName})}"></h4>*/-->
    <!--<div th:switch="${#sets.isEmpty(contactList)}" class="col-sm-6">
        <div th:case="true" th:text="#{contacts.noContactsInList}"><h3></h3></div>
        <div th:case="*" id="contactListContainer">
            <div th:include="contacts/preparedContactList :: contactList"></div>
        </div>
    </div>-->
    <div th:include="contacts/preparedContactList :: contactList" id="contactListContainer" class="col-sm-6"></div>
    <!--add contact form-->
    <div class="col-sm-4 col-sm-offset-2  add-contact">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 th:text="#{contact.msg.addNew}">add new contact</h3>
            </div>
            <div class="panel-body">
                <form action="javascript:void(null);" onsubmit="addContact(event)" method="post" th:object="${contact}">
                    <div class="form-group">
                        <label for="firstName" th:text="#{contact.firstName}">First name:</label>
                        <input type="text" th:field="*{firstName}" class="form-control"  maxlength="16" required/>
                    </div>
                    <div class="form-group">
                        <label for="lastName" th:text="#{contact.lastName}">Last Name:</label>
                        <input type="text" th:field="*{lastName}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="email" th:text="#{contact.email}">E-mail:</label>
                        <input type="email" th:field="*{email}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="mobileNum" th:text="#{contact.mobileNum}">Mobile number:</label>
                        <input type="number" th:field="*{mobileNum}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="workNum" th:text="#{contact.workNum}">Work number:</label>
                        <input type="number" th:field="*{workNum}" class="form-control"/>
                    </div>
                    <input type="submit"/>
                </form>
            </div>
        </div>
    </div>

</div>
<script th:fragment="custom-script"  th:src="@{resources/js/basic/contacts.js}" src="resources/js/basic/contacts.js"></script>
</body>
</html>