<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:replace="this :: title"></title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{resources/css/bootstrap.min.css}" />

    <link href="resources/css/style.css" rel="stylesheet"
          th:href="@{resources/css/style.css}" />

    <!--<link href="resources/css/bootstrap-responsive.min.css" rel="stylesheet"
          th:href="@{resources/css/bootstrap-responsive.min.css}" />-->
    <script src="resources/js/jquery-2.1.1.js"
            th:src="@{resources/js/jquery-2.1.1.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="layouts/fragments-basic :: nav"></div>
    <div th:replace="this :: content"></div>
</div>
<script src="resources/js/bootstrap.min.js"
        th:src="@{resources/js/bootstrap.min.js}"></script>
<script th:replace="this :: custom-script"></script>
</body>
</html>